fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
passlib[bcrypt]
python-jose
pydantic
chromadb
pypdf
sentence-transformers
google-generativeai
pydantic[email]
email-validator
pytest
python-multipart